# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FormsAppProg1.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\gitrepos\FormsAppProg1\.idea\.idea.FormsAppProg1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
